<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Редактирование сотрудника</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
  <div th:each="person : ${persons}">
    <form method="post">
      <input type="text" th:value="${person.full_name}" name="full_name" placeholder="Введите имя фамилию сотрудника" class="form-control"><br>
      <input type="text" th:value="${person.position}" name="position" placeholder="Введите позицию сотрудника" class="form-control"><br>
      <button type="submit" class="btn btn-success">Обновить</button>
    </form>
  </div>

</div>
<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>